<html>
    <head>
        <%- include("header.ejs", {"title": "Đăng nhập"}) %>
    </head>
    <body>
        <%- include("menu.ejs"); %>
        <div class="container-fluid" id="app_login">
            <div v-if="page == 'login'">
                <%- include("loginPage.ejs"); %>
            </div>
            <div v-if="page == 'change_password'">
                <%- include("changePassword.ejs"); %>
            </div>
            <div v-if="page == 'success'">
                <%- include("successPage.ejs"); %>
            </div>
        </div>
        <script src="js/login.js"></script>
    </body>
</html>